html, body {
    height: 100%; 
    overflow: hidden;
    margin: 0; 
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--headings); 
    font-family: 'Dancing Script', cursive;
    font-style: italic; 
}

.diagonal-image-container {
    position: relative;
    height: 80vh; 
    overflow: hidden; 
}

.image-item {
    display: none; 
    opacity: 0; 
    transition: opacity 0.2s ease-in-out;
    position: absolute; 
    width: 400px;
    height: auto; 
    box-sizing: border-box;
}

/* -----------------------Media query for smaller screens----------------------- */
@media (max-width: 1500px) {
    .image-item {
        width: 300px;
    }
}
@media (max-width: 900px) {
    .image-item {
        width: 350px; 
    }
}

@media (max-width: 600px) {
    .image-item {
        width: 300px;
    }
}



.image-item img {
    width: 100%; 
    height: auto; 
}





/*----------------------------------- Positioning Classes---------------------------- */
.top-right {
    top: 0; 
    right: 5%; 
    transform: translate(10%, -10%); 
    pointer-events: none;
}


.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    pointer-events: auto
}
.bottom-right {
    bottom: 0%; 
    left: 0%; 
    transform: translate(10%, 10%); 
    pointer-events: none;
}


.top-right, .center, .bottom-right {
    transition: transform 0.2s ease-in-out; 
}

/* -------------------------Hover effect for the central image only---------------------------------- */
.hidden-text {
    display: none; 
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    padding: 8px;
    border: 1px solid #ddd;
    z-index: 1;
    top: 100%; 
    left: 0; 
    width: 100%; 
}

.center:hover .hidden-text {
    display: block; /* Show the text on hover */
}

.page-heading {
    position: absolute;  /* Position it relative to the nearest positioned ancestor */
    top: 10%;            /* 10% from the top */
    left: 0%;           /* 10% from the left */
    z-index: 2;         /* Ensure it appears above other elements */
    font-size: 24px;    /* Adjust font size as needed */
    color: var(--headings);        /* Change text color as needed */
    /* Add additional styling here */
}
