{% extends "HtmlFiles/Base.html" %}

{% block title %}Analytics Dashboard{% endblock title %}

{% load static %}

{% block body %}

<link href="{% static 'CssFiles/analytics.css' %}" rel="stylesheet">
<link href="{% static 'CssFiles/customer_waiting_time_for_order.css' %}" rel="stylesheet">
<!-- New navigation links below the title -->


<h2>General Analytics Report</h2>


<div class="page-slider">
    <h2> <a href="{% url 'analytics_table' %}" class="slider-button {% if active_page == 'statistics' %}active{% endif %}">Statistics</a></h2>
    <h2> <a href="{% url 'analytics' %}" class="slider-button {% if active_page == 'Visualization' %}active{% endif %}">Visualization</a></h2>
 </div>

<div class="dashboard-container">

    <div class="dashboard-grid">
        <div class="dashboard-card">
            <h4>Most Ordered Dishes</h4>
            <div class="chart-container">
                <canvas id="dishesChart"></canvas>
            </div>
        </div>
        <div class="dashboard-card">
            <h4>Customer Count</h4>
            <div class="chart-container">
                <canvas id="CustomerChart"></canvas>
            </div>
        </div>
        <div class="dashboard-card">
            <h4>Peak Hours</h4>
            <div class="chart-container">
                <canvas id="peakHoursChart"></canvas>
            </div>
        </div>
        <div class="dashboard-card">
            <h4>Customer Satisfaction</h4>
            <div class="chart-container">
                <canvas id="satisfactionChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'JavaScriptFiles/analytics.js' %}"></script>
{% endblock body %}
