{% extends "HtmlFiles/Base.html" %}
{% block title %}Select Preprocessing{% endblock %}
{% block home_active %}active{% endblock %}

{% load static %}

{% block body %}
<link href="{% static 'CssFiles/Add_Video.css' %}" rel="stylesheet">
<link href="{% static 'CssFiles/variables.css' %}" rel="stylesheet">
<link href="{% static 'CssFiles/Cheff&people.css' %}" rel="stylesheet">

<!-- Main container -->
<div class="cotn_principal">
    <div class="cont_centrar">
        <!-- Main container with fixed width (700px) -->
        <div class="main_container">
            <!-- Left section for text and buttons -->
            <div class="left_section">
                <h1 id="leftTextContent" style="text-align: right;">Dress Code</h1>

                <p id="additionalText">Switch to a general  Pre Processing</p> <!-- Added default text -->

                <div class="cont_buttons">
                    <button class="cartoon_button btn_login" onclick="showLogin()" id="loginButton">Dresscode Preprocessing</button>
                    <button class="cartoon_button btn_sign_up" onclick="showSignUp()" id="signUpButton" style="display: none;">General Preprocessing</button>
                </div>
            </div>


            <!-- Right section for preprocessing options -->
            <div class="right_section">
                <h1 id="preprocessing-heading">  Preprocessing</h1>


                <button class="grid_item left_item" id="loginItem" onclick="window.location.href='/chef-preprocessing/'">Start Preprocessing</button>
                <button class="grid_item right_item" id="signUpItem" style="display: none;" onclick="window.location.href='/select-video/'">Start Preprocessing</button>
            </div>
            
        </div>
    </div>
</div>
<script src="{% static 'JavaScriptFiles/Cheff&people.js' %}"></script>
{% endblock %}
